.show:hover + .list-categories{
    max-height: inherit;
    opacity: 1;
  }
  
  .list-categories{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    max-height: 0px;
    opacity: 0;
    overflow: hidden;
    transition: opacity 300ms ease;
  }