@use './globalStyles' as gs; 

.button {
    background-color: gs.$orange; 
    padding: 0 1.75rem; 
    border: none;
    border-radius: 0.2rem;
      &__link {
        font-family: gs.$primaryFont;
        color: gs.$offWhite;
        text-decoration: none;
        font-size: 14px;
      }  
      &:hover {
        box-shadow: 0 0 7px rgba(0, 0, 0, 0.268);
      }
    }

