@use './globalStyles' as gs; 

.form{
    max-width: 1200px;
    background-color: white;
    box-shadow: gs.$cardShadow;
    width: 70.25rem;
    height: 40.125rem;
    margin: 0 auto;
    padding: 5.125rem 3rem;
    &__2grid{
        display: grid;
        grid-template-columns: 3fr 2fr;
        column-gap: 2%;
    }
    &__group{
    margin: 0 auto;
    padding: 5.125rem 3rem;
    box-shadow: gs.$cardShadow;
    &__container{
        display: grid;
        &--short{
            padding-right: 330px;
        }
    }
    &__input{
        background-color: gs.$lightGray;
        border: none;
        border-radius: 2px;
        line-height: 2rem;
        box-shadow: gs.$btnShadow;
        width: 100%;
        margin: 0.5rem 0 0.5rem;
        padding-left: 0.5rem;
    }
    &__heading{
        line-height: 39px;
        font-size: 18px;
    }
    &__btn{
        margin: 3.5rem 0 5.125rem 0;
        display: grid;
        justify-items: end;
        &:disabled{
           opacity: 0.35; 
        }
    }
    &__star{
        color: gs.$orange;
    }
    &__error{
        border: 2px solid red;
        &--msg{
            font-size: 10px;
            margin-bottom: 1rem;
        }
    }
    &__postal{
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        column-gap: 1.5rem;
    }
  }
}