@use './globalStyles' as gs; 

.form{
    max-width: 1200px;
    background-color: white;
    margin: 0 auto;
    padding: 5.125rem 3rem;
    box-shadow: gs.$cardShadow;
    &__container{
        display: grid;
        &--short{
            padding-right: 330px;
        }
    }
    &__input{
        background-color: gs.$lightGray;
        border: none;
        border-radius: 2px;
        line-height: 2rem;
        box-shadow: gs.$btnShadow;
        width: 100%;
        margin: 0.5rem 0 1rem;
    }
    &__heading{
        line-height: 39px;
        font-size: 18px;
    }
    &__btn{
        margin: 3.5rem 0 5.125rem 0;
        display: grid;
        justify-items: end;
    }
    &__star{
        color: gs.$orange;
    }
}
