@use './globalStyles' as gs; 


.deliveryMethods__h2 {
    font-size: 3rem;
}

.deliveryMethods__methods {
    background-color: white;
    box-shadow: rgba(9, 30, 66, 0.5) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    padding: 4rem 4rem;
    margin-bottom: 4rem;
}

.deliveryMethods__buttons {
    display: flex;
    gap: 2rem;
}

.deliveryMethods__buttons button {
    padding: 1rem;
    font-size: 2rem;
    color: #495464;
    border-color: #495464;
    background-color: white;
    border-radius: 0.3rem;
    border-width: 0.15rem;
    box-shadow: rgba(9, 30, 66, 0.5) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.deliveryMethods__buttons button:hover {
    color: white;
    background-color: #495464;
}

.deliveryMethods__img-fedex {
    max-width: 20%; 
    height: auto;
    padding: 2rem 0;
}

.deliveryMethods__img-map {
    max-width: 100%; 
    height: auto;
    padding: 2rem 0;
}

.deliveryMethods__hr {
    margin: 2rem 0;
}

.deliveryMethods__postoffices, .deliveryMethods__collects {
    display: flex;
    gap: 1rem;
}

.deliveryMethods__collects {
    margin-top: 2rem;
}

.deliveryMethods__collects-p {
    margin-left: 2rem;
}

.deliveryMethods__home {
    margin-top: 2rem;
}