@use "./globalStyles" as gs;

.faq{
    max-width: 1200px;
    margin: 0 auto;
    &__container{
        background-color: white;
        box-shadow: gs.$cardShadow;
        padding: 1.5rem 2.25rem;
        margin-bottom: 3rem;
    }
    &__h3{
        font-weight: 400;
        margin: 0 0 2rem 0;
    }

    &__p{
        margin-bottom: 1rem;
        &--no-mar{
            margin-bottom: 0;
        }
    }
    &__h5{
        font-size: 1.5rem;
        font-weight: 300;
        margin-bottom: 2.75rem;
    }
}