@use './globalStyles' as gs; 

.footer {
    background-color: black;
    width: 100%;
    &__info{
        max-width: 1200px;
        margin: 0 auto;
        padding-bottom: 1rem;
        display: grid;
        grid-template-columns: repeat(3, 2fr);
    }
    &__nav {
        margin-top: 3.25rem;
        margin-left: 3rem;
    }
    &__icon{
        font-size: 25px;
        margin-right: 0.5rem;
    }
    &__text {
        font-family: gs.$primaryFont;
        color: white;
        font-size: 0.875rem;
        line-height: 25px;
        margin: 0.5rem 0;
        &--icon{
            display: flex;
            align-content: center;
        }
    }
    &__some-icons{
        display: flex;
        gap: 0.5rem;
        margin-top: 1rem;
    }
    &__some-icon{
        color: white;
        border: 1px solid white;
        font-size: 30px;
        border-radius: 30px;
        width: 30px;
        padding: 2px;
    }
    &__icons{
        display: flex;
        color: white;
    }
    &__payment{
        border-top: 1px solid white;
        grid-column: 1 / span 3;
        margin: 1rem 0;
    }
    &__cards{
        width: 225px;
        height: auto;
        margin-top: 1rem;
        margin-left: 2.5rem;
    }
    &__registration{
        color: white;
        font-size: 10px;
        margin-left: 3rem;
    }
}

// .home, .shop, .aboutus {
//     grid-row: 1/1;
// }

// .home, .shop, .aboutus, .creditcards, .hifi__text__footer {
//     grid-column: 1/1;
// }

// .returns__refunds, .delivery, .aboutus {
//     grid-column: 2/2;
// }

// .creditcards, .returns__refunds, .delivery, .aboutus, .hifi__text__footer {
//     grid-row: 2/2;
// }

// .contact, .address__right, .phone__number, .icons__flex {
//     grid-column: 3/3;
//     grid-row: 3/3;
//     padding-top: 1rem;
//     padding-right: 4rem;
// }

// .phone__number, .icons__flex {
//     display: flex;
// }

// .phone__number {
//     gap: 1rem;
// }

// .phone__icon {
//     font-size: 1.7rem;
// }

// .icons__flex {
//     gap: 1rem;
//     padding-top: 1rem;
// }

// .creditcards {
//     width: 15rem;
//     margin-left: 4.5rem;
// }

// .hifi__text__footer {
//     width: 40rem;
//     font-size: 0.7rem;
//     padding-left: 0.8rem;
// }

