@use './globalStyles' as gs; 

header{
  list-style-type: none;
  
}
.shopList{
  padding: 0.4em;
  color: orange;
}
.shopElmNav{
  width: 5rem;
}
nav{
  text-transform: uppercase;
  display: flex;
  justify-content: center;
}

.hif1cornerlogo{
  width: 4rem;
  height: 4rem;
}
