@use './globalStyles' as gs; 




.text__decoration {
  text-decoration: none;
}


.list__style__type {
  list-style-type: none;

}

.white__text {
  color: white;
}

header, .header__wrapper {
  height: 6rem;
}

header {
  width: 100%;
  background-color: black;
}
.header__cart-count{
  // grid-area: 1 / 2;
  background-color: gs.$orange;
  height: 1rem;
  width: 1rem;
  color: white;
  font-size: 10px;
  line-height: 1rem;
  text-align: center;
  font-weight: 700;
  border-radius: 30px;
  position: absolute;
  top: 30px;
  right: -10px;
}

.header__navbar {
  display: flex;
  align-items: center;
  padding-left: 2rem;
  font-size: 0.875rem;
  text-transform: uppercase;
  gap: 1.5rem;
}

.header__wrapper {
  max-width: 600px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr ;
  height: 6rem;
  @include gs.breakpoint(tablet){
    max-width: 800px;
}
@include gs.breakpoint(desktop){
  max-width: 1200px;
}
}

.shop {
  cursor: pointer;
}

.header__right {
  display: flex;
  align-items: center;
  gap: 2rem;
  bottom: 0.5rem;
  grid-column: 2/2;
  justify-content: flex-end;
  grid-area: 1 / 2;
  position: relative;
}

.black__font {
  color: black;
}

.cartContainerItems {
  font-size: 1.05rem;
  display: none;
  background-color: white;
  width: 20.56rem;
  margin-left: 12rem;
  border: 1px solid rgba(0, 0, 0, 0.423);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.253);
  height: 25rem;
  position: absolute;
}

.categories__wrapper {
  padding-left: 3rem;
  padding-top: 1rem;
}

.gap__text {
  padding-bottom: 0.8rem;
}

.search {
  grid-column: 2/2;
}

.browse__categories {
  padding-left: 2.5rem;
  padding-top: 0.7rem;
  margin: 0;
}

.cartContainerItems--visible {
  display: block;
}

.hif1cornerlogo {
  margin-top: 0.2rem;
  width: 3rem;
  height: 3rem;
  margin-left: 0.7rem;
}

.profile__icon, .cart__icon {
  font-size: 1.4rem;

}


.product__list {
  color: #A39161;
}

.nav__li:hover, .nav__li.active {
  font-weight: bold;
  // color: gs.$orange;
}

