@use "./globalStyles" as gs; 

.product-card{
    background-color: white;
    display: grid;
    grid-template-columns: 1fr;
    justify-self: center;
    justify-items: center;
    padding: 3rem 2.5rem 2rem 2.5rem;
    box-shadow: gs.$cardShadow;
    height: auto;
    border-radius: 3px;
    max-width: 300px;
    &__h3{
        font-size: 14px;
        text-transform: capitalize;
        text-align: center;
        margin-top: 0;
    }
    &__img{
        max-width: 200px;
        height: 100px;
        margin: 3rem 0 2rem 0;
    }
    &__dimensions {
        font-weight: bold;
    }
    &__txt{
        margin-bottom: 2rem;
    }
}