@use "./globalStyles" as gs; 

.product-card{
    background-color: white;
    display: grid;
    justify-items: center;
    padding: 3rem 1.5rem 2rem 1.5rem;
    box-shadow: gs.$cardShadow;
    height: auto;
    border-radius: 3px;
    &__h3{
        font-size: 14px;
        text-transform: capitalize;
        text-align: center;
    }

    &__img{
        max-width: 200px;
        height: auto;
        margin: 3rem 0 2rem 0;
    }

    &__dimensions {
        font-weight: bold;
    }
    &__btn-box{
        display: flex;
    }
    &__btn{
        width: 30px;
        height: 30px;
    }
}