@use './globalStyles' as gs; 

.searchbar{
  width: 200px;
  &__inner{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 6rem;
    align-items: center;
  }
  &__input{
    grid-area: 1 / 1;
    background-color: white;
    height: 38px;
    padding-left: 12px;
    border-radius: 3px;
  }
  &__btn{
    grid-area: 1 / 1;
    justify-self: end;
    align-self: center;
    margin-right: 1rem;
  }
}


// .App {
//   font-family: sans-serif;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
// }

// .search-inner {
//   display: grid;
//   grid-column: 1fr;
//   font-size: 1.4rem;
  //position:relative;
//}

//.search-container {
  //width: 14rem;
  //display: flex;
  //flex-direction: column;
//}

//.dropdown {
  //display: flex;
  //flex-direction: column;
  //border: 1px solid gray;
//}

// .dropdown:empty {
//   border: none;
// }

// .dropdown-row {
//   cursor: pointer;
//   text-align: start;
//   margin: 2px 0;
//   text-decoration: none;
//   background-color: white;
// }
//.searchbar {
  //width: 12.56rem;
  //height: 2.4rem;
  //grid-area: 1 / 1;
  //&__icon{
      //position: relative;
      //right: 2rem;
      //font-size: 1.5rem;
      //top: 0.3rem;
  //}
//}

// input {
//   width: 14rem;
//   height: 2rem;
//   // border: none;
// }

.fontuser{
  //height: 1.5rem;
  //width: 1.5rem;
  //line-height: 38px;
  //padding: 4px;
  grid-area: 1 / 1;
  //position: absolute;
  //top:50%;
  //left: 12rem;
  //transform: translateY(-50%);
}
.input__search{
  grid-area: 1 / 1;
  padding-left: 0.25rem;
}


