@use './globalStyles' as gs;
.searchbar{
width: 200px;
  &__inner{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 6rem;
    align-items: center;
}
  &__input{
    grid-area: 1 / 1;
    background-color: white;
    height: 38px;
    padding-left: 12px;
    border-radius: 3px;
    border: none;
}
  &__btn{
    grid-area: 1 / 1;
    justify-self: end;
    align-self: center;
    margin-right: 1rem;
}
}

.fontuser{
  grid-area: 1 / 1;
}
.input__search{
  grid-area: 1 / 1;
  padding-left: 0.25rem;
}

