@use './globalStyles' as gs;

.slider {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image {
  width: 25;
  height: 20;
  border-radius: 10px;
}
.right-arrow {
  position: absolute;
  top: 50%;
  right: 30rem;
  font-size: 3rem;
  color: #000;
  cursor: pointer;
  user-select: none;
}
.left-arrow {
  position: absolute;
  top: 50%;
  left: 30rem;
  font-size: 3rem;
  color: #000;
  cursor: pointer;
  user-select: none;
}
.slide {
  opacity: 0;
  transition-duration: 1s ease;
}
.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}
