@use './globalStyles' as gs;

body {
    margin: 0;
    box-sizing: 0;
}

nav, .menu {
    background-color: black;
}

nav, .burger-menu {
    display: flex;
}

nav {
    width: 100%;
    height: 5rem;
    justify-content: flex-end;
    padding: 1rem;
}

.burger-menu {
    height: 100%;
    width: 4rem;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.5rem;
    cursor: pointer;
    margin-top: 0.5rem;
}

.burger-bar {
    width: 2rem;
    height: 0.25rem;
    background-color: white;
    border-radius: 0.5rem;
}

.menu {
    margin-top: 0;
    z-index: -1;
    margin-left: auto;
}

.grid__menu {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 5rem);
    gap: 2rem;
    text-align: center;
}

.hificornerlogo {
    width: 3rem;
    height: 3rem;
    margin-left: 1.8rem;
    margin-top: 0.5rem;
}

.grid__menu, .menu {
    width: 18.75rem;
    height: 37.56rem;
}

.hidden {
    display: none;
}

.visible {
    display: inherit;
}

.burger-bar.clicked:nth-child(1) {
    transform: rotate(45deg) translate(0.90rem, 0.6rem);
}

.burger-bar.clicked:nth-child(1), .burger-bar.clicked:nth-child(3) {
    background-color: gs.$orange;
}

.burger-bar.clicked:nth-child(1), .burger-bar.clicked:nth-child(2), .burger-bar.clicked:nth-child(3) {
    transition: ease-in-out 0.4s;

}

.burger-bar.clicked:nth-child(2) {
    transform: scale(0.0);
}

.burger-bar.clicked:nth-child(3) {
    transform: rotate(135deg) translate(-0.5rem, 0.2rem);
}

.burger-bar.unclicked {
    transform: rotate(0) translate(0);
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.font__size {
    font-size: 0.8rem;
}